@model ASCWeb1.Areas.Configuration.Models.MasterValuesViewModel
@{
    Layout = "_SecureLayout";
}

<div class="row"></div>
<div class="row padding-top-20px padding-left-20px padding-right-20px">
    <div class="row z-depth-3">
        <div class="section white-text padding-left-10px blue-grey lighten-1">
            <h5>Master Values</h5>
        </div>
        <div class="divider"></div>
        <div class="row" style="margin-bottom: 0;">
            <div class="input-field col s4">
                <select id="ddlMasterKeys">
                    <option value="" selected>Select Master Key</option>
                    @if (ViewBag.MasterKeys != null)
                    {
                        foreach (var key in ViewBag.MasterKeys)
                        {
                            <option value="@key.PartitionKey">@key.PartitionKey</option>
                        }
                    }
                </select>
                <label>Master Key</label>
            </div>
        </div>

        <div class="col s12 padding-bottom-15px">
            @* Display List of Master Values *@
            <table class="highlight centered" id="tblMasterValues">
                <thead>
                    <tr>
                        <th data-field="RowKey">Row Key</th>
                        <th data-field="PartitionKey">Partition Key</th>
                        <th data-field="Name">Name</th>
                        <th data-field="IsActive">Is Active</th>
                        <th data-field="Actions">Edit</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="row"></div>

<!-- Details Section -->
<div class="row padding-left-20px padding-right-20px">
    <div class="row z-depth-3">
        <div class="col s12" style="padding: 0;">
            <div class="section white-text padding-left-10px blue-grey lighten-1">
                <h5>Master Value Details</h5>
            </div>
        </div>
        <div class="divider"></div>
        <form id="formMasterValue">
            <input type="hidden" id="IsEdit" />
            <input type="hidden" id="MasterValueInContext_RowKey" />
            <input type="hidden" id="MasterValueInContext_PartitionKey" />
            <div class="row" style="margin-bottom: 10px; padding: 0 20px;">
                <div class="input-field col s4">
                    <input id="Input_MasterKey_RowKey" type="text" disabled="disabled" style="border-bottom: 1px dotted #9e9e9e !important;" />
                    <label class="active">RowKey</label>
                </div>
                <div class="input-field col s4">
                    <select id="select_MasterValueInContext_PartitionKey" required>
                        <option value="" selected>Select Partition Key</option>
                        @if (ViewBag.MasterKeys != null)
                        {
                            foreach (var key in ViewBag.MasterKeys)
                            {
                                <option value="@key.PartitionKey">@key.PartitionKey</option>
                            }
                        }
                    </select>
                    <label>Partition Key</label>
                </div>
                <div class="input-field col s4">
                    <input id="MasterValueInContext_Name" type="text" class="validate" required />
                    <label>Name</label>
                </div>
            </div>
            <div class="row" style="padding: 0 20px; margin-bottom: 20px;">
                <div class="col s12">
                    <div class="switch">
                        <label>
                            Is Active
                            <input id="MasterValueInContext_IsActive" type="checkbox" />
                            <span class="lever cyan"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 0 20px; margin-bottom: 20px;">
                <div class="col s12 right-align">
                    <button class="btn waves-effect waves-light teal btnSubmit" type="button" style="margin-right: 10px;">
                        SAVE
                    </button>
                    <button class="btn waves-effect waves-light red reset" type="button">
                        RESET
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Need to pass Verification Token to get Request Validated for Forgery
            var token = $('input[type=hidden][name=__RequestVerificationToken]', document).val();
            $.ajaxSetup({
                // Disable caching of AJAX responses
                cache: false,
                headers: { 'RequestVerificationToken': token }
            });
            // Initialize DataTable to show list of Master Values
            var table = $('#tblMasterValues').DataTable({
                'pageLength': 3,
                // Number of records to be displayed per page
                'lengthMenu': [[3, 5, 10, -1], [3, 5, 10, 'All']],
                // Set Columns
                'columns': [
                    { 'data': 'RowKey' },
                    { 'data': 'PartitionKey' },
                    { 'data': 'Name' },
                    { 'data': 'IsActive' },
                    { 'data': 'Actions' },
                ],
                // Set Custom Column definitions and define their render HTML.
                "aoColumnDefs": [
                    {
                        "aTargets": [3],
                        "mData": "IsActive",
                        "mRender": function (data, type, full) {

                            if (data === true)
                                return '<img src="/images/green_tick.png" />';
                            else
                                return '<img src="/images/red_cross.png" />';
                        }
                    },
                    {
                        "aTargets": [4],
                        "mData": "Actions",
                        "mRender": function (data, type, full) {
                            return '<a class="waves-effect waves-light btn-small teal edit" style="cursor: pointer;">Edit</a>';
                        }
                    }
                ]
            });
            // Set Styles for DataTable and Number of Records to be displayed in drop-down
            $('#tblMasterValues').css("width", "100%");
            $('select[name="tblMasterValues_length"]').formSelect(); //355
            $("select[required]").css({
                display: "block", position: 'absolute', visibility: 'hidden'
            });
            // Initialize Master Key Select
            $('select').formSelect();
            
            // Add reset button handler
            $(document).on('click', '.reset', function() {
                $('#formMasterValue')[0].reset();
                $('#IsEdit').val('');
                $('#MasterValueInContext_RowKey').val('');
                $('#Input_MasterKey_RowKey').val('');
                $('#MasterValueInContext_PartitionKey').val('');
                $('#select_MasterValueInContext_PartitionKey').formSelect('destroy');
                $('#select_MasterValueInContext_PartitionKey').removeAttr('disabled');
                $('#select_MasterValueInContext_PartitionKey').val('');
                $('#select_MasterValueInContext_PartitionKey').formSelect();
                $('#MasterValueInContext_Name').val('').removeClass('valid');
                $('#MasterValueInContext_IsActive').prop('checked', false);
                $('.btnSubmit').text('SAVE');
                M.updateTextFields();
            });
        });

        // On click of Edit icon, populate the details section with details of service engineer
        $(document).on('click', '.edit', function ()
        {
            console.log("Test");
            var user = $('#tblMasterValues').DataTable().row($(this).parents('tr')).data();
            console.log(user);
            $('#IsEdit').val('True');
            // Map Row Key
            $('#MasterValueInContext_RowKey').val(user["RowKey"]);
            $('#Input_MasterKey_RowKey').val(user["RowKey"]);
            // Map Partition Key
            $('#MasterValueInContext_PartitionKey').val(user["PartitionKey"]);
            // Set Partition Key Dropdown and re-initialize Material Select
            $('#select_MasterValueInContext_PartitionKey').formSelect('destroy');
            $('#select_MasterValueInContext_PartitionKey option:contains(' + user['PartitionKey'] + ')').prop('selected', true);
            $('#select_MasterValueInContext_PartitionKey').attr('disabled', 'disabled');
            $('#select_MasterValueInContext_PartitionKey').formSelect();
            // Remove valid class for dropdownList, as it is disabled
            $('.select-wrapper').removeClass('valid');
            // Map Name
            $('#MasterValueInContext_Name').val(user["Name"]);
            $('#MasterValueInContext_Name').addClass('valid');
            // Map IsActive
            $('#MasterValueInContext_IsActive').prop('checked', user["IsActive"] === true ? true : false);
            $('.btnSubmit').text('SAVE');
            M.updateTextFields();
        });

        // Dropdown change event
        $(document).on('change', '#ddlMasterKeys', function () {
            var selectedKey = $('#ddlMasterKeys').val();
            console.log('Selected Master Key:', selectedKey);
            
            if (selectedKey && selectedKey !== '') {
                $.ajax({
                    url: '@Url.Action("MasterValuesByKey", "MasterData")',
                    type: 'GET',
                    data: { key: selectedKey },
                    success: function(response) {
                        console.log('Response:', response);
                        table.clear();
                        if (response.data && response.data.length > 0) {
                            table.rows.add(response.data);
                        }
                        table.draw();
                    },
                    error: function(xhr, status, error) {
                        console.error('Error loading master values:', error);
                    }
                });
            } else {
                table.clear().draw();
            }
        });
        // Save/Create Button Click Event
        $(document).on('click', '.btnSubmit', function () {
            var form = $("#formMasterValue");
            if ($(form).valid())
            {
                // Create the POST Object
                var masterData = new Object();
                masterData.Name = $('#MasterValueInContext_Name').val();
                masterData.PartitionKey = $('#select_MasterValueInContext_PartitionKey option:selected').text();
                masterData.IsActive = $('#MasterValueInContext_IsActive').is(':checked');
                if ($('#IsEdit').val())
                    masterData.RowKey = $('#MasterValueInContext_RowKey').val();
                // POST the data to server
                $.post('@Url.Action("MasterValues", "MasterData")',
                    { masterValue: masterData, isEdit: $('#IsEdit').val() },
                    function (data, status, xhr) {
                        var selectedKey = $('#ddlMasterKeys').val();
                        if (selectedKey && selectedKey !== '') {
                            $.ajax({
                                url: '@Url.Action("MasterValuesByKey", "MasterData")',
                                type: 'GET',
                                data: { key: selectedKey },
                                success: function(response) {
                                    table.clear();
                                    if (response.data && response.data.length > 0) {
                                        table.rows.add(response.data);
                                    }
                                    table.draw();
                                }
                            });
                        }
                    }
                );
                // Reset the form
                $('.reset').click();
                // Remove valid class for materialize css dropdown, otherwise there is a CSS distortion
                $('.select-wrapper').removeClass('valid');
            }
        });
    </script>
}
